<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.magic.photouploader"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--the following two permissions are required if you want to take photo in selector-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".UploaderApplication">

    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity
        android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
        android:hardwareAccelerated="false"
        android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.lidong.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.lidong.photopicker.PhotoPreviewActivity"
                  android:theme="@style/PhotoPickerTheme"/>
    </application>



</manifest>